.currency__box {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
  background-color: #E7E6E6;
  border: 1px solid darkgrey;
  cursor: pointer;
  color: #1A598E;
  &:hover {
    background-color: #D5D4D4;
  }
  }
.currency__box-checked {
  position: relative;
  padding: 5px;
  background-color: #E7E6E6;
  border: 1px solid #E7E6E6;
  text-align: center;
  font-size: 14px;
}
.currency__section {
  margin-top: 50px;
  padding: 20px 10px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 2px 4px 5px 0 rgba(199,199,197,0.75);
  flex-wrap: wrap;
  row-gap: 15px;
  text-align: start;
}
.checked__checkbox {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%/50%;
  padding: 1px 5px;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black
  }
}
.checked__currency {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  padding-bottom: 15px;
}
.currency__checkbox {
  padding: 1px 2px;
  margin-top: -3px;
  background-color: transparent;
  border: 1px solid darkgray;
  border-radius: 4px;
  margin-right: 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.currency__name {
  font-size: 18px;
  line-height: 1;
}
.white {
  background-color: white;
}
